<!-- Template to create credential row -->
<script type="text/x-custom-template" id="credential_template">
	<div class="row content_credential">
        <div class="col-md-8 credential">
            <h6 class="panel-heading"><%=translation.templates.applications.credential_row.label01%></h6>
            <p>credential_id</p>
            <h6 class="panel-heading role"><%=translation.templates.applications.credential_row.label02%> </h6>
            <p class="role">credential_role</p>
            <h6 class="panel-heading show_credential"><%=translation.templates.applications.credential_row.label04%></h6>
            <p class="show_credential">credential_token</p>
            <!-- credential expired date -->
            <!--
            <h6 class="panel-heading date"><%=translation.templates.applications.credential_row.label03%> </h6>
            <p class="date">credential_expires</p>
            -->
        </div>
        <div class="col-md-4 actions_credential">
            <br>
            <a href="/idm/applications/application_id/credential/credential_id/delete" class="btn btn-danger delete_credential">
                <i class="far fa-trash-alt"></i> <%=translation.templates.applications.credential_row.delete_credential_btn%>
            </a>
        </div>
    </div>
</script>
